body{
    display:block;
    margin: 0 auto;
    
}
section{
    float: left;
    grid-column: span 2;
}
h1{
    display:flex;
    justify-content: center;
    grid-column:span 2;
}

section .card-container{
    display:block;
    justify-content: center;
    margin: 150px;
}
main{
    display:grid;
    grid-template-rows: 20vmin 20vmin 20vmin 20vmin;
}
button{
    grid:block;
    margin:150px;
}
#p-score, #c-score{
    display:grid;
    margin: -100px 0 0 0;
}