body{
    display:flex;
    justify-content: center;
    margin-left:25vmin;
    background:rgba(200,0,0,.8);
}
h1{
    font-stretch: ultra-expanded;
    writing-mode: vertical-rl;
    font-size: 110px;
    margin-left: -200px;
    margin-right:300px;
}
main{
    display: grid;
    justify-content: center;
    font-size:40px;
    margin-right:2vh;
}
footer{
    display: grid;
    margin-left:20vmin;
}
.p-display{
    width:150px;
}
.war-display{
    grid-template-columns: 10vmin 10vmin;
    justify-content: center;
    margin-top:49vmin;
    margin-right:5vmin;
}
.title, .titleComp{
    color:white;
}
#war{
    font-size:80px;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
}

